:root {
  --min-width: 1024px;
  --yellow: #ffcc00;
  --red: #ff2a2a;
}

.ubuntu-light {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.ubuntu-regular {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h1, blockquote,
.ubuntu-medium {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-style: normal;
}

body,
.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* style.css */
body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 18px;
  background-color: var(--yellow);
}

q {
  font-size: 0.8rem;
}

img {
  max-width: 100%;
  border-radius: 20px;
}

.header-wrapper {
  background-color: var(--yellow);
}

.header {
  height: 150px;
  max-width: var(--min-width);
  margin: 0 auto;
  background-image: linear-gradient(
    135deg,
    var(--yellow) 0%,
    var(--yellow) 11.1%,
    var(--red) 11.1%,
    var(--red) 22.2%,
    var(--yellow) 22.2%,
    var(--yellow) 33.3%,
    var(--red) 33.3%,
    var(--red) 44.4%,
    var(--yellow) 44.4%,
    var(--yellow) 55.5%,
    var(--red) 55.5%,
    var(--red) 66.6%,
    var(--yellow) 66.6%,
    var(--yellow) 77.7%,
    var(--red) 77.7%,
    var(--red) 88.8%,
    var(--yellow) 88.8%,
    var(--yellow) 100%
  );

  /* Opcional: Altres estils per al capçalera */
  display: flex;
  justify-content: center;
  align-items: center;
}

.header .escut {
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("./images/olot.png");
  background-size: contain;
  padding: 20px;
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

header {
  background-color: #333;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.les-tietes img {
  max-height: 512px;
}

main {
  background-color: white;
  padding: 3rem;
  max-width: var(--min-width);
  margin: 0 auto;
  box-sizing: border-box;
}

footer {
  background-color: #333;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.footer-container {
  margin: 0 auto;
  display: flex;
  width: 100%;
  max-width: var(--min-width);
}

.footer-column {
  padding: 0 2rem;
}

.footer-column ul {
  list-style: none;
  padding: 0;
}

.footer-container ul a {
  color: white;
  line-height: 2rem;
}

.familia {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.familia blockquote {
  font-size: 1.5rem;
  color: darkred;
}

.familia .image {
  padding: 2rem;
}

.familia img{
  filter: grayscale(100%);
}

@media screen and (min-width: 1024px) {
  .familia {
    flex-direction: row;
  }
  .familia blockquote {
    font-size: 2.5rem;
  }
}